.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.labels-value {
    display: block;
}

.input-values {
    display: block;
    margin: 10px auto;
    width: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: center;
}

.input-values::-webkit-outer-spin-button,
.input-values::-webkit-inner-spin-button {
    appearance: none;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin: 0 auto;
    border: 1px solid black;
}

.matrix-elements {
    border: 1px solid black;
    padding: 5px;
}

@media(min-width: 425px){
    .matrix{
        grid-template-columns: repeat(3, 100px);
    }
}
@media(min-width: 768px) {
    .matrix {
        grid-template-columns: repeat(3, 150px);
    }
}