.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.label {
    display: block;
}

.input {
    display: block;
    margin: 10px auto;
    width: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: center;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    appearance: none;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin: 0 auto;
    border: 1px solid black;
    cursor: pointer;
}

.matrix-element {
    border: 1px solid black;
    padding: 5px;
}

.matrix-element:nth-child(n){
    border-top: none;
}
.matrix-element:nth-child(3n + 2) {
    border-left: none;
    border-right: none;
}
.matrix-element:nth-child(3n + 1){
    border-left: none;
}
.matrix-element:nth-child(3n + 3){
    border-right: none;
}
.matrix-element:nth-last-child(-n + 3) {
    border-bottom: none;
}

@media(min-width: 425px) {
    .matrix {
        grid-template-columns: repeat(3, 100px);
    }
}

@media(min-width: 768px) {
    .matrix {
        grid-template-columns: repeat(3, 150px);
    }
}